:root {
  /* --test-main-color: rgb(0, 0, 0); */
}

._39nnaT_CLE0m_WXVIrAwaG {
  margin-top: 10px;
}

.RightSideButtonContainer {
  gap: 3px;
  margin-right: 5px;
}

/* .quickaccessmenu_QuickAccessMenu_V0cr-,
.quickaccessmenu_Title_34nl5,
.quickaccessmenu_Tab_1S76C {
  background: var(--test-main-color);
}

.quickaccessmenu_Title_34nl5 {
  box-shadow: none;
}

.SVGIcon_Notification {
  color: rgb(0, 255, 170);
}

._1pwP4eeP1zQD7PEgmsep0W {
  border-radius: 5px;
  background-color: black;
  opacity: 1;
  overflow: hidden;
} */