:root {
  /* --test-main-color: rgb(0, 0, 0); */
}

/* Friends comments below the user post (friends section) */
._39nnaT_CLE0m_WXVIrAwaG {
  margin-top: 10px;
}

/* Chat (top rigt) buttons */
.RightSideButtonContainer {
  gap: 3px;
  margin-right: 5px;
}

/* Disable border for news cards (game menu) */
._1AYE16384J_ecLpN0sEYc5 {
  border: none;
}

/* Load more news button (game menu) */
._39ZurKJQex6v69aXzvc_nj {
  padding: 10px !important;
}