:root {
  /* --test-main-color: rgb(0, 0, 0); */
}

/* Friends comments below the user post (friends section) */
._39nnaT_CLE0m_WXVIrAwaG {
  margin-top: 10px;
}

/* Chat (top rigt) buttons */
.RightSideButtonContainer {
  gap: 3px;
  margin-right: 5px;
}

/* Shop item card fix (bottom price bar height of card) */
.fXdhjvKWFQqnjxUzju3jk {
  height: 100%;
}