/* Shop item card height */
.fXdhjvKWFQqnjxUzju3jk {
  height: calc(100% + 13px) !important;
}

/* Shop item card fix (bottom price bar) */
._3-GyQfKnKaWozIRLOw4BjY {
  height: 100% !important;
}

/* Inside padding (bottom price bar) */
._2s-O5T3qJJYR2AUq4b9jIN {
  padding: 6px 8px 6px 8px;
}

/* Content to right (bottom price bar)  */
._1g0B-RjwkUV0_MDURgy3Bi {
  justify-content: right;
}

/* Fixed width for text-box (bottom price bar) */
._2E-mSsWtptcnk088TudSSj {
  max-width: 196px !important;
  overflow: hidden;
}

/* Font size for text (bottom price bar) */
._3j4dI1yA7cRfCvK8h406OB {
  font-size: 10px;
  padding: 0 !important;
}

/* Padding for profile pics (bottom price bar) */
._1IIKwlQaVZU6bIeEQJvmTK {
  padding-left: 6px;
}

/* Bigger gap between card rows */
._2--N_0Jb34zE-aHkedJVON {
  gap: 15px;
}